/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {
}

.sidebar,
.main-content {
	float: left;
	min-height: 76px;
}
.sidebar {
	width: 25%;
}
.main-content {
	width: 75%;
}
.group {
	padding: 0;
	width: 80%;
	margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.footer {
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */