/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.header {
}
.group {
	padding: 0;
}
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.sidebar,
.main-content,
.sub-content {
	float: left;
	min-height: 76px;
}

.sidebar {
	width: 25%;
}

.main-content {
	width: 45%;
}

.sub-content {
	width: 30%;
}

.footer {
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */