/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 03 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}

.sidebar {
	float: right;
	width: 23%;
	height: 300px;
	/* hint! */
}

.main-content {
	float: left;
	width: 73%;
	height: 300px;
	/* hint! */
}

.footer {
	/* hint! */
}


div {
	margin: 1%;
}

/* uncomment me to see if you missed anything! */


.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.group {
	background: teal;
}


