/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */
/*
 ==============================
 Clear that shizzle
 ==============================
*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}

/*
===============================
Header
===============================
*/
.header {
	min-width: 1030px;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}
/*
===============================
Bloggin' action
===============================
*/
.main-content {
	min-width: 1030px;
}
/* hint! */

.post {
	width: 980px;
	margin: 20px auto;
}
/* hint! */

.image {
	float: left;
	width: 240px;
}
.image img {
	height: 200px;
}

.post_excerpt {
	float: left;
	width: 660px;
	min-height: 204px;
}
