/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 25%;
	height: 300px;
}

.main-content {
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	/* hint! */
	float: right;
	width: 75%;
	height: 150px;
}
.sub-content-2 {
	float: right;
	clear: right;
	width: 75%;
	height: 150px;
	/* hint! */
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.footer {
}
