/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
	min-width: 880px;
}

.header{

}

.main-content {
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	height: 300px;
	width: 25%;
	min-width: 200px;
}

.sub-content {
	float: right;
	width: 75%;
	height: 150px;
}

.sub-content-2 {
	float: right;
	width: 75%;
	height: 150px;
}

.footer {
	clear: both;
}
