/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */
/*
 ==============================
 Clear that shizzle
 ==============================
*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}

/*
===============================
Header
===============================
*/
.logo {
	float: left;
}

.navigation {
	float: right;
}
/*
===============================
Bloggin' action
===============================
*/
.main-content {

}
/* hint! */

.post {
}
/* hint! */

.image {
	float: left;
	width: 23%;
	padding: 2%
}

.post_excerpt {
	float: left;
	width: 73%;
	padding: 2%;
}
